
<html>
    <head>
        <title>Soccer Site</title>
                <meta name="viewport" content="width=device-width, initial-scale=1">

        <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>  
        <link type="text/css" rel="stylesheet" href="/stylesheets/app.css">
        <script>
         
        </script>
        
    </head>
    <body>
    <div class="ui menu fluid five  head-menu">
  <a class="active item" href="/">
    Home
  </a>
  <a class="item" href="/players">
    Players
  </a>
  <a class="item" href="/coaches">
    Coaches
  </a>
  <div class="right menu">
     <% if(!currentUser){ %>
          <a class="ui item" href="/login">Login</a>
          <a class="ui item" href="/register">Sign Up</a>
      <% } else { %>
          <a class="ui item"> <%= currentUser.username %></a>
           <a class="ui item" href="/logout"> Logout</a>
      <% } %>
   
  </div>
</div>
<% if((error && error.length >0) || (success && success.length >0)){ %>
 <div class="ui container">
        <% if(error && error.length >0){ %> <!--if error exists and contains something/not empty. empty is truthy -->
            <div class="ui red message" role="alert"><%= error %></div> <!--flash message in all routes -->
        <% }if(success && success.length >0) { %>
            <div class="ui green message" role="alert"><%= success %></div> <!--flash message in all routes -->
        <% } %>
    </div>
   
  <% } %>