<% include ./partials/header %>

<h1>Home Page</h1>

<a class="massive ui button" href="/players">
    Players
</a>
<a class="massive ui button" href="/coaches">
    Coaches
</a>

<% include ./partials/footer %>
