<% include ./partials/header %>

<h1>Home Page</h1>
<div class="container">
        <div class=" ">
            <h1><span class="fa fa-lock"></span> Node Authentication</h1>

            <p>Login or Register with:</p>

            <a href="/login" class="massive ui button" ><span class="fa fa-user"></span> Local Login</a>
            <a href="/register" class="massive ui button"  ><span class="fa fa-user"></span> Local Signup</a>
        </div>
    </div>
<a class="massive ui button" href="/players">
    Players
</a>
<a class="massive ui button" href="/coaches">
    Coaches
</a>

<% include ./partials/footer %>
