body {
  /* height: 100%; */
  background-image: url("https://images.unsplash.com/photo-1544914379-806667cd9489?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1489&q=80");
  background-color: #000000;
  /* opacity: 0.5; */
 }
 .ui.inverted.button.edit-button{
   color: #FFC107;
   box-shadow: 0 0 0 2px #FFC107 inset!important;
 }

.ui.cards{
  margin: 0;
}
.ui.card, .ui.cards>.card{
  background: #eaeaea;
  /* margin: 0; */
}
 .menu{
   margin-bottom:0;
 }
 .container{
   padding: 1em;
   /* height: 100vh; */
   border-radius: 5px;
   /* height: 100vh; */
   background-color: rgba(255,255,255,1);
   opacity: 1.0;
 }

.ui.grid{
  padding: 1em;
}

#tab-menu .item{
  padding: 0 1.5em;
}
.tabcontent {
  display: none;
  width: inherit;
  /* text-transform: capitalize; */
  
}

.delete-button{
  display: inline!important;
}
.tabcontent .item{
  margin: 0.5em;
}

.mobile-filter-fields{
  min-width: 6em !important;
}
/*#athletic_tab{*/
/*    display: none;*/
/*}*/

/* @media screen and (max-width: 768px) {
  .menu-text{
    display: none;
  }
} */